section.blog
    .vertical-wrapper
        .blog-intro
            h2.blog-intro__title Blog
            p.blog-intro__text The point of using Lorem Ipsum is that it has a non  more-or-less dik sonormal distti bution of letters, as clipper apposed a closer look to our fully
        .blog-items__item.item-central
            img.blog-items__item__image(src="./images/cards/blog2.png", alt="blog-image")
            h3.blog-items__item__title Design is the method of putting form and content together .
            .blog-items__item__subtitle
                p.tag Life style
                p.hyphen -
                p.date July 3, 2017
            p.blog-items__item__text Sed ut perspiciatis unde omnis iste natus error sit lao hoksi The point of using Lorem Ipsum is that it has a non more-or-less dik sonormal distti bution of letters, as clipper apposed a closer look to our fully
            a.blog-items__item__link(href="#") Read more
            
    .blog-items
        .blog-items__item
            img.blog-items__item__image(src="./images/cards/blog1.png", alt="blog-image")
            h3.blog-items__item__title Design is the method of putting form and content together.
            .blog-items__item__subtitle
                p.tag Life style
                p.hyphen -
                p.date July 3, 2017
            p.blog-items__item__text Sed ut perspiciatis unde omnis iste natus error sit lao hoksi The point of using Lorem Ipsum is that it has a non more-or-less dik sonormal distti bution of letters, as clipper apposed a closer look to our fully
            a.blog-items__item__link(href="#") Read more

        

        .blog-items__item
            img.blog-items__item__image(src="./images/cards/blog3.png", alt="blog-image")
            h3.blog-items__item__title Design is the method of putting form and content together .
            .blog-items__item__subtitle
                p.tag Life style
                p.hyphen -
                p.date July 3, 2017
            p.blog-items__item__text Sed ut perspiciatis unde omnis iste natus error sit lao hoksi The point of using Lorem Ipsum is that it has a non more-or-less dik sonormal distti bution of letters, as clipper apposed a closer look to our fully
            a.blog-items__item__link(href="#") Read more