section.clients#clients
    img(src="./images/backgrounds/clients.jpg", alt="")
    h2.title Happy Clients
    .brands
        .brands__item
            +svg("salon")
        .brands__item
            +svg("luxo")
        .brands__item
            +svg("brill")
        .brands__item
            +svg("loxa")
        .brands__item
            +svg("minky")
        .brands__item
            +svg("babaria")