footer.footer
    .footer-container
        .footer-container-contacts
            .header-logo
                a(href='#header')
                    +svg("logo")
            .footer-container-contacts__contact
                h3 Contact
                p 237 Church St, San Francisco,
                p CA 94114, USA
                p nazmulhasanjingar@
            .footer-container-contacts__social
                h3 Follow me on:
                .footer-links
                    a(href='#')
                        +svg("facebook")
                    a(href='#')
                        +svg("twitter")
                    a(href='#')
                        +svg("instagram")
                    a(href='#')
                        +svg("flickr")

        .footer-container-blog
            h3.footer-container-blog__title Latest Blog Posts
            .footer-container-blog__item
                a.blog-link(href="#blog")
                    img(src="./images/cards/footer/blog-1.png", alt="blog-image")
                .textblock
                    p.textblock__text Design is the method of putting form and content together
                    .textblock__blog-date
                        p.tag Life style
                        p.hyphen -
                        p.date July 3, 2017
            .footer-container-blog__item
                a.blog-link(href="#blog")
                    img(src="./images/cards/footer/blog-2.png", alt="blog-image")
                .textblock
                    p.textblock__text Design is the method of putting form and content together
                    .textblock__blog-date
                        p.tag Life style
                        p.hyphen -
                        p.date July 3, 2017
            a.footer-container-blog__link(href="#blog") MORE...

        .footer-container-navigation
            h3.footer-container-navigation__title Quick Link
            nav.footer-container-navigation__navbar
                li
                    a(href="#header") Home
                li
                    a(href="#information") About
                li
                    a(href="#clients") Clients
                li
                    a(href="#portfolio") Portfolio
                li
                    a(href="#blog") Blog

        .footer-container-instagram
            h3.footer-container-instagram__title Instagram Update
            .footer-container-instagram__images
                .image-row-1
                    a.insta-link(href="#")
                        img(src="./images/cards/footer/insta-1.png", alt="insta-image")
                    .image-column
                        a.insta-link(href="#")
                            img(src="./images/cards/footer/insta-2.png", alt="insta-image")
                        a.insta-link(href="#")
                            img(src="./images/cards/footer/insta-3.png", alt="insta-image")
                .image-row-2
                    a.insta-link(href="#")
                        img(src="./images/cards/footer/insta-4.png", alt="insta-image")
                    a.insta-link(href="#")
                        img(src="./images/cards/footer/insta-5.png", alt="insta-image")
                    a.insta-link(href="#")
                        img(src="./images/cards/footer/insta-6.png", alt="insta-image")

    .footer-copyright
        p  All Rights @ 2017 By Nazmul Hasan Jingar