
header.header-background
    header.header#header
        .header-navigation
            .header-logo
                a(href='#')
                    +svg("logo")
            nav.header-navigation__navbar
                li
                    a(href="#header") Home
                li
                    a(href="#information") About
                li
                    a(href="#clients") Clients
                li
                    a(href="#portfolio") Portfolio
                li
                    a(href="#blog") Blog
                    
        article.header-introduction
            h1.header-introduction__title Hello, I'm Dakota Jhonson
            h3.header-introduction__subtitle I’m an Art Director & Photographer based in the San Francisco.
            button.header-introduction__button See My Works
        button.header-scroll
            img(src="./images/sprites/png/headerscroll.png", alt="scrolldown")

        .header-links
            a(href='#')
                +svg("facebook")
            a(href='#')
                +svg("twitter")
            a(href='#')
                +svg("instagram")
            a(href='#')
                +svg("flickr")

    