section.information
    .image-wrapper
        .information-image
            img(src="./images/backgrounds/info-block-bg.jpg", alt="demo-image")
    .content-wrapper
        article.information-content
            .content-text
                h2.content-text__title About MySelf
                p.content-text__text Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I'm a brilliant Art Director and pro Photographer based in San Fancisco where I make cool things for agencies and brands around globe. Mentas is loaded with useful features, each one with it own meaningful purpose. We listen to our users and integrate their feature requests on a regular basis. If you like y work please do not hesitate to reach out.
            .content-details
                h3.content-details__title What I Do?
                article.content-details-items
                    a.content-details-items__item(href="#")
                        p.title FASHION
                        img(src="./images/cards/item-1.jpg" alt="fashion")
                    a.content-details-items__item(href="#")
                        p.title PORTRAITS
                        img(src="./images/cards/item-2.jpg" alt="portraits")
                    a.content-details-items__item(href="#")
                        p.title LIFESTYLE
                        img(src="./images/cards/item-3.jpg" alt="lifestyle")
            a.content-button(href="#") View My Flickr Profile
                