section.inputs#inputs
    h2.inputs__title Let's work?
    form.inputs-form(action="")
        input.inputs-form__name(type="text" placeholder="*Your name" required)
        input.inputs-form__mail(type="text" placeholder="*Your Email" required)
        textarea.inputs-form__message(type="text" placeholder="Your Messages")
        input.inputs-form__button(type="submit" value="SEND MESSAGE")