section.inputs
    form.inputs__title(action="")
    input.inputs__name(type="text" placeholder="*Your name" required)
    input.inputs__mail(type="text" placeholder="*Your Email" required)
    input.inputs__message(type="text" placeholder="Your Messages")
    input.inputs__button(type="submit" value="SEND MESSAGE")