section.portfolio#portfolio
    article.portfolio-note
        h2.portfolio-note__title Portfolio
        p.portfolio-note__text The point of using Lorem Ipsum is that it has a non  more-or-less dik sonormal distti bution of letters, as clipper apposed a closer look to our fully furnished and beautiful demos, which can be use aesily On this find website you can find some pictures I've taken during my Travel a clo look to our fully furnished and so beautiful demos, which canbe use
        a.portfolio-note__link(href="#portfolio") Read more...
    .portfolio-content
        .portfolio-content__images
            .row-1
                .portfolio-content__images__item
                    img(src="./images/cards/port-1.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
                .portfolio-content__images__item
                    img(src="./images/cards/port-2.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
                .portfolio-content__images__item
                    img(src="./images/cards/port-3.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
            .row-2
                .portfolio-content__images__item
                    img(src="./images/cards/port-4.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
                .portfolio-content__images__item
                    img(src="./images/cards/port-5.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
            .row-3
                .portfolio-content__images__item
                    img(src="./images/cards/port-6.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")
                .portfolio-content__images__item
                    img(src="./images/cards/port-7.png", alt="card")
                    article.links
                        span.links__share
                        a.share-facebook(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("facebook")
                        a.share-twitter(href="https://twitter.com/intent/tweet?text=Photography&amp;url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;utm_source=share2")
                            +svg("twitter")
                        a.share-instagram(href="https://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F%23information&amp;title=Photography&amp;utm_source=share2")
                            +svg("instagram")

        a.portfolio-content__button(href="#portfolio") See more
