//===wrapper===//
.blog {
    @include font-muli;
    color: $blue-default;
    max-width: $screen-initial;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1030px;

    &::before {
        content: '';
        position: absolute;
        background: url('../images/backgrounds/blines.png') no-repeat 50% 50%;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 10;
        top: -337px;
        z-index: -2;

        @media (max-width: $screen-lg) {
            display: none;
        }
    }
    @media (max-width: $screen-xl) {
        width: 1280px;
    }
    @media (max-width: $screen-lg) {
        width: 922px;
        align-items: flex-start;
    }
    @media (max-width: $screen-md) {
        width: 768px; 
    }
    @media (max-width: $screen-sm) {
        width: 576px; 
        height: 820px;
    }
}

//===intro + central-item-wrapper===//
.vertical-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 865px;
    width: 28.1%;
    @media (max-width: $screen-lg) {
        width: 50%;
        margin-left: 24%;
    }
    @media (max-width: $screen-md) {
        width: 60%;
        margin-left: 18%;
        height: 830px;
    }
    @media (max-width: $screen-sm) {
        margin-left: 10%; 
        height: 780px;
    }
}
.blog-intro {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include font-trirong;
        font-size: 40px;
        line-height: 39px;
        font-weight: 300;
        margin: 0;
    }
    &__text {
        text-align: center;
        width: 98%;
        font-size: 20px;
        line-height: 34px;
        font-weight: 300;
        margin: 40px 0 65px 0;
        @media (max-width: $screen-sm) {
            width: 90%;
        }
    }
}

//===items===//
.blog-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92.1875%;
    position: absolute;

    @media (max-width: $screen-lg) {
        display: none;
    }

    &__item {
        width: 30.5%;
        height: 615px;
        background: $color-white;

        &__image {
            width: 100%;
            height: 270px;
        }
        &__title {
            width: 86.67%;
            margin: 15px 0 0 35px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
        }
        &__subtitle {
            @include blog-date;
            margin: 17px 0 13px 35px;
        }
        &__text {
            width: 86.67%;
            margin: 5px 0 10px 35px;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            @media (max-width: $screen-sm) {
                display: none;
            }
        }
        &__link {
            margin: 0 0 0 35px;
            font-size: 16px;
            line-height: 32px;
            text-decoration: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 119%;
                height: 100%;
                border-radius: 7px;
                background: #f5c817;
                opacity: 0.3;
                left: 0;
                bottom: -5px;
                transition: .3s;
            }
            &:hover {
                &::before {
                    background: #f51717;
                }
            }
        }

        & a {
            outline: none;
        }
        @media (max-width: $screen-sm) {
            height: 490px;
        }
    }
}
.item-central {
    width: 100%;
    background: $color-white;
    box-shadow: 0 0 70px 5px rgba(59,61,104,0.5);

}