//===wrapper===//
.header-background{
    background: url("../images/backgrounds/header-bg-shapes.jpg") no-repeat 50% 50%;
    background-size: cover;
    max-width: $screen-initial;
    height: 900px;
    margin: 0 auto;
    position: relative;

    @media (max-width: $screen-xl) {
        max-width: 1280px; 
    }
    @media (max-width: $screen-lg) {
        max-width: 922px;
        height: 700px; 
    }
    @media (max-width: $screen-md) {
        max-width: 768px; 
    }
    @media (max-width: $screen-sm) {
        max-width: 576px; 
    }
}

//===main===//
.header {
    width: 73.125%;
    height: 100%;
    margin: 0 auto;
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $screen-sm) {
        width: 90%;
    }
}

//===logo===//
.header-logo {
    & a {
        & svg {
            fill: $color-white;
            transition: .3s;
            width: 200px;
            height: 30px;
        }
    }
}

//===navbar===//
.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 25px;

    &__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 28.2%;

        @media (max-width: $screen-xl) {
            margin-right: 10%;
        }
        @media (max-width: $screen-md) {
            padding-top: 5%;
        }

        & li {
            text-align: center;
            height: 25px;
            list-style: none;
            transition: .3s;

            & a {
                text-decoration: none;
                color: $color-white;
                padding: 0 5px 8px 5px;
                outline: none;
            }

            &:hover {
                border-bottom: 1px solid #ffcc00;
            }
        }
    }
    @media (max-width: $screen-md) {
        flex-direction: column;
        align-items: flex-start;
    }
}

//===intro-text===//
.header-introduction {
    @include font-muli;
    padding: 265px 0 135px 0;
    color: $color-white;

    &__title {
        width: 38.46%;
        @include font-trirong;
        font-weight: 300;
        font-size: 60px;
        line-height: 72px;
        margin: 0;
        padding: 0;

        @media (max-width: $screen-lg) {
            width: 50%;
        }
        @media (max-width: $screen-md) {
            font-size: 40px;
            line-height: 55px;
        }
    }
    &__subtitle {
        padding: 35px 0 40px 0;
        margin: 0;
        width: 48.71795%;
        font-weight: 200;
        font-size: 20px;
        line-height: 32px;

        @media (max-width: 430px) {
            font-size: 14px;
            line-height: 24px;
            padding: 20px 0 20px 0;
        }
    }
    &__button {
        @include button-default;
        background: #f2c200;
        color: $blue-font-3;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;

        &:hover {
            background: #8d939c;
        }
        @media (max-width: $screen-md) {
            padding: 10px 35px 10px 35px;
        }
    }
    @media (max-width: $screen-lg) {
        padding: 125px 0 135px 0;
    }
}

//===social-links===//
.header-links {
    @include social-links;
    position: absolute;
    right: 5%;
    bottom: 30px;
    width: 170px;
    height: 25px;
    
    @media (max-width: $screen-xl) {
        right: 14%; 
    }
    @media (max-width: $screen-sm) {
        left: 5%;
    }
}